-#  Copyright (c) 2025, 2026 German Contingent for the World Scout Jamboree 2027.
-#
-#  This file is part of hitobito_wsjrdp_2027 and licensed under the
-#  Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/smeky42/hitobito_wsjrdp_2027

= info_field_set_tag do
  = render 'contactable/address_fields', f: f

  = render_extensions :address_fields, locals: { f: f }

= field_set_tag do
  = render 'email_field', f: f

= field_set_tag do
  = f.labeled_inline_fields_for :additional_emails, 'contactable/additional_email_fields',
       show_element_if: -> (contactable) { contactable.can_show?(user: current_user) },
       allow_destroy_if: -> (contactable) { contactable.can_destroy?(user: current_user) }

- if can?(:log, entry) && (can?(:update_wsjrdp_email, entry) || can?(:update_moss_email, entry))
  = field_set_tag do
    - if can?(:update_wsjrdp_email, entry)
      = f.labeled_input_field :wsjrdp_email, help_inline: "Kontingents E-Mail Adresse", class: 'd-inline form-control form-control-sm'
    - if can?(:update_moss_email, entry)
      = f.labeled_input_field :moss_email, help_inline: "E-Mail für Moss SSO", class: 'd-inline form-control form-control-sm'

= field_set_tag do
  = render 'contactable/phone_numbers_fields', f: f

= field_set_tag do
  = f.labeled_inline_fields_for :social_accounts, 'contactable/social_account_fields'

-# - if entry.is_a?(Person) && PeopleRelation.none? && FeatureGate.enabled?('people.family_members')
-#   = field_set_tag do
-#     = f.labeled_inline_fields_for :family_members, 'person/family/fields'

= render_extensions :additional_fields, locals: { f: f }
