-#  Copyright (c) 2025, 2026 German Contingent for the World Scout Jamboree 2027.
-#
-#  This file is part of hitobito_wsjrdp_2027 and licensed under the
-#  Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/smeky42/hitobito_wsjrdp_2027

= info_field_set_tag do
  = render 'contactable/address_fields', f: f

  = render_extensions :address_fields, locals: { f: f }

= field_set_tag do
  = render 'email_field', f: f

= field_set_tag do
  = f.labeled_inline_fields_for :additional_emails, 'contactable/additional_email_fields',
       show_element_if: -> (contactable) { contactable.can_show?(user: current_user) },
       allow_destroy_if: -> (contactable) { contactable.can_destroy?(user: current_user) }

- if can?(:log, entry) && (can?(:update_wsjrdp_email, entry) || can?(:update_moss_email, entry))
  = field_set_tag do
    - if can?(:update_wsjrdp_email, entry) && entry.respond_to?(:wsjrdp_email)
      = f.labeled(:wsjrdp_email) do
        = f.input_field :wsjrdp_email, class: 'd-inline form-control form-control-sm'
        = f.help_inline("Contingent E-Mail Adresse")
        = f.check_box(:wsjrdp_email_is_mailbox, {disabled: true})
        %span{'data-bs-toggle': 'tooltip', title: "Eigene Mailbox für Contingent E-Mail", class: 'disabled'}
          Eigene Mailbox für Contingent E-Mail
    - if can?(:update_moss_email, entry) && entry.respond_to?(:moss_email)
      = f.labeled(:moss_email) do
        = f.input_field :moss_email, class: 'd-inline form-control form-control-sm'
        - if entry.moss_invited_at.present?
          = f.help_inline("E-Mail für Moss SSO (eingeladen: #{format_attr(entry, :moss_invited_at)})")
        - else
          = f.help_inline("E-Mail für Moss SSO")

= field_set_tag do
  = render 'contactable/phone_numbers_fields', f: f

= field_set_tag do
  = f.labeled_inline_fields_for :social_accounts, 'contactable/social_account_fields'

-# - if entry.is_a?(Person) && PeopleRelation.none? && FeatureGate.enabled?('people.family_members')
-#   = field_set_tag do
-#     = f.labeled_inline_fields_for :family_members, 'person/family/fields'

= render_extensions :additional_fields, locals: { f: f }
