-#  Copyright (c) 2025, German Contingent for the Worldscoutjamboree 2027. This file is part of
-#  hitobito_wsjrdp_2027 and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_wsjrdp_2027.

.row.mt-4
  .col
    %h4= t('activerecord.attributes.person.early_payer')
    %p.text-muted= raw(t('people.finance_fields.early_payer_help'))
    - if (@person.status == 'registered')
      = f.labeled_input_field :early_payer
    - else
      = render_attrs(entry, :early_payer)

.row.mt-5
  .col
    %h4= t('people.finance_fields.sepa_header')
    %p.text-muted= t('people.finance_fields.sepa_info')

.row.mt-3
  -if (@person.status == 'registered')
    = f.labeled_input_fields :sepa_name,
                    :sepa_address,
                    :sepa_mail,
                    :sepa_iban,
                    :sepa_bic
  -else 
    = render_attrs(entry,  :sepa_name,
                    :sepa_address,
                    :sepa_mail,
                    :sepa_iban,
                    :sepa_bic)
