#main.row
  = standard_form @person, url: medical_group_person_path,  method: :put, html: { class: 'form-striped' } do |f|
    = f.error_messages
    = form_buttons(f, cancel_url: medical_group_person_path)

    .mt-3
      %h3= t('people.medical_fields.vaccinations')
    = field_set_tag do
      = f.labeled_input_field :medical_stiko_vaccinations, label: t('people.medical_fields.stiko_vaccinations_long')
    = field_set_tag do
      = f.labeled_input_field :medical_additional_vaccinations, label: t('people.medical_fields.additional_vaccinations_long')

    .mt-5
      %h3= t('people.tabs.medical')
    = field_set_tag do
      = f.labeled_input_field :medical_preexisting_conditions, label: t('people.medical_fields.preexisting_conditions_long')
    = field_set_tag do
      = f.labeled_input_field :medical_abnormalities, label: t('people.medical_fields.abnormalities_long')
    = field_set_tag do
      = f.labeled_input_field :medical_allergies, label: t('people.medical_fields.allergies_long')
    = field_set_tag do
      = f.labeled_input_field :medical_eating_disorders, label: t('people.medical_fields.eating_disorders_long')
    = field_set_tag do
      = f.labeled_input_field :medical_mobility_needs, label: t('people.medical_fields.mobility_needs_long')
    = field_set_tag do
      = f.labeled_input_field :medical_infectious_diseases, label: t('people.medical_fields.infectious_diseases_long')
    = field_set_tag do
      = f.labeled_input_field :medical_medical_treatment_contact, label: t('people.medical_fields.medical_treatment_contact_long')

    .mt-5
      %h3= t('people.medical_fields.medication')
    = field_set_tag do
      = f.labeled_input_field :medical_continuous_medication, label: t('people.medical_fields.continuous_medication_long')
    = field_set_tag do
      = f.labeled_input_field :medical_needs_medication, label: t('people.medical_fields.needs_medication_long')
    = field_set_tag do
      = f.labeled_input_field :medical_self_treatment_medication, label: t('people.medical_fields.self_treatment_medication_long')

    .mt-5
      %h3= t('people.medical_fields.wellbeing')
    = field_set_tag do
      = f.labeled_input_field :medical_mental_health, label: t('people.medical_fields.mental_health_long')
    = field_set_tag do
      = f.labeled_input_field :medical_situational_support, label: t('people.medical_fields.situational_support_long')
    = field_set_tag do
      = f.labeled_input_field :medical_person_of_trust, label: t('people.medical_fields.person_of_trust_long')

    .mt-5
      %h3= t('people.medical_fields.other')
    = field_set_tag do
      = f.labeled_input_field :medical_other, label: t('people.medical_fields.other_long')

    = form_buttons(f, cancel_url: medical_group_person_path)


