-#  Copyright (c) 2012-2022, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

#main.row
  %article.col-lg
    = render 'contact_data', person: entry, only_public: cannot?(:show_details, entry)
    - if can?(:show_details, entry)
      %h2= t('.additional_data')
      %div
        = render_attrs(entry, :birthday, :gender)

        = render_extensions :details, locals: { show_full: can?(:show_full, entry) }

        - if can?(:update, entry)
          = render_attrs(entry, :created_info, :updated_info, :login_status)
        - else
          = render_attrs(entry, :created_info, :updated_info)
        - FeatureGate.if(:person_language) do
          = render_attrs(entry, :language)

        - FeatureGate.if(:self_registration_reason) do
          = render_present_attrs(entry, :self_registration_reason_text)

        -# = render 'people_relations'

      - if entry.additional_information?
        %h2= Person.human_attribute_name(:additional_information)
        %p.multiline= safe_auto_link(entry.additional_information)

    = render_extensions :show_left

    - if can?(:index_notes, entry)
      = render 'notes/section', create_path: group_person_notes_path(@group, entry)

  - if can?(:show_full, entry)
    %aside.col-lg-5.offset-lg-1
      = render_extensions :data_quality
      = render 'tags'
      %br/
      = render_attrs(entry, :rdp_association, :rdp_association_region, :rdp_association_sub_region, :rdp_association_group, :rdp_association_number)
      
      - entry.buddy_id = "#{entry.buddy_id}-#{entry.id}"
      = render_attrs(entry, :buddy_id)
      
      = render 'participant_wish_data'
      
      %br/
      %h2 
        = t('people.form_tabs.additional_contact')
      %h4
        - if (entry.years.to_i >= 18) 
          = t('activerecord.attributes.person.additional_contact_a_info_adult')
        - else 
          = t('activerecord.attributes.person.additional_contact_a_info')
      = render_attrs(entry, :additional_contact_name_a, :additional_contact_adress_a, :additional_contact_email_a, :additional_contact_phone_a)

      - if entry.years.to_i >= 18 || !entry.additional_contact_single
        %h4
          - if (entry.years.to_i >= 18) 
            = t('activerecord.attributes.person.additional_contact_b_info_adult')
          - else 
            = t('activerecord.attributes.person.additional_contact_b_info')
        = render_attrs(entry, :additional_contact_name_b, :additional_contact_adress_b, :additional_contact_email_b, :additional_contact_phone_b)
      
      %br/
      %h2 
        = t('people.form_tabs.finance')
      = render_attrs(entry,
          :early_payer,
          :sepa_name,
          :sepa_address,
          :sepa_mail,
          :sepa_iban,
          :sepa_bic)
      
      = render 'roles'
      = render 'add_requests'
      = render 'event_aside', title: Event::Application.model_name.human(count: 2), collection: entry.pending_applications
      = render 'participation_aside', title: upcoming_events_title, collection: entry.upcoming_participations

      = render_extensions :show_event

      = render 'qualifications', show_buttons: true

      = render(HouseholdAsideComponent.new(person: entry, group: @group))

      = render_extensions :show_right
