- if @person.yp?
  - ul_buddy = select_person_for_buddy_id(entry.buddy_id_ul)
  - yp_buddy = select_person_for_buddy_id(entry.buddy_id_yp)
  = render 'participant_wish_data_list', entry: entry, list_title: t('.header_wish_ul'), wish_persons: ul_buddy
  = render 'participant_wish_data_list', entry: entry, list_title: t('.header_wish_yp_buddy'), wish_persons: yp_buddy

- if @person.ul?
  - ul_buddy = select_person_for_buddy_id(entry.buddy_id_ul)
  = render 'participant_wish_data_list', entry: entry, list_title: t('.header_wish_ul_buddy'), wish_persons: ul_buddy

- if @person.yp? || @person.ul?
  - buddy_persons = Person.where(buddy_id_ul: entry.full_buddy_id) + Person.where(buddy_id_yp: entry.full_buddy_id)
  - buddy_persons.delete_if {|p| p.status == "deregistration_noted" || p.status == "deregistered"}
  - if @person.yp?
    = render 'participant_wish_data_list', entry: entry, list_title: t('.header_wished_yp_buddy'), wish_persons: buddy_persons.select {|p| p.yp?}
  - if @person.ul?
    = render 'participant_wish_data_list', entry: entry, list_title: t('.header_wished_ul_buddy'), wish_persons: buddy_persons.select {|p| p.ul?}
    = render 'participant_wish_data_list', entry: entry, list_title: t('.header_wished_ul'), wish_persons: buddy_persons.select {|p| p.yp?}
