-#  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of hitobito and licensed under the
-#  Affero General Public License version 3 or later. See the COPYING file at the top-level directory
-#  or at https://github.com/hitobito/hitobito.

= c.fields_for do |ff|
  = ff.labeled_input_fields :first_name, :last_name
  = ff.labeled_date_field :birthday
  = ff.labeled_input_field :email, help_inline: t('people.email_field.used_as_login'), class: 'd-inline'

  - if f.object.steps.one?
    = render 'groups/self_registration/adult_consent_field', f: ff
    = field_set_tag(nil, class: 'privacy-policy-fields') do
      = render('people/privacy_policy_acceptance_field', f: ff, policy_finder: f.object.policy_finder)

%br/
%br/
= t('layouts.unauthorized.main_other_registration_info')
%br/
= link_to t('layouts.unauthorized.main_other_registration_info_text'), t('layouts.unauthorized.main_other_registration_info_link')
%br/
%br/ 