- content_for(:toolbar, render('actions_show'))

#main.row
  - extra_render_attrs = []
  - if @person.active_total_fee_reduction?
    - extra_render_attrs << :active_total_fee_reduction_display
  - if @person.active_custom_installments?
    - extra_render_attrs << :active_custom_installments_issue_display
    - extra_render_attrs << :active_custom_installments_display
    - extra_render_attrs << :active_custom_installments_comment
  - if @person.planned_total_fee_reduction?
    - extra_render_attrs << :planned_total_fee_reduction_display
  - if @person.planned_custom_installments?
    - extra_render_attrs << :planned_custom_installments_issue_display
    - extra_render_attrs << :planned_custom_installments_display
    - extra_render_attrs << :planned_custom_installments_comment
  = render_attrs(@person, :birthday, :status, :print_at, :contract_upload_at, :complete_document_upload_at, :payment_role, :unit_code)
  = render_attrs(@person, :deregistration_issue, :missing_installment_issue)
  = render_attrs(@person, *extra_render_attrs)
- if @person.status == 'upload'
  %br
  %br
  = action_button(t('activerecord.buttons.review_documents'),
                "/groups/#{params[:group_id]}/people/#{params[:id]}/status/review_documents",
                :envelope,
                remote: false,
                method: :post,
                rel: :tooltip,
                title: t('activerecord.buttons.review_documents'))
- if @person.status == 'in_review'
  #main.row-fluid
  %h3="Dokumente Einsehen"
  = render_attrs(@person, :id, :birthday, :first_name, :last_name, :payment_role )
  = raw(t("people.check_status_help.contract"))
  %br
  = action_button(t('activerecord.buttons.show_contract'),
                "/groups/#{params[:group_id]}/people/#{params[:id]}/upload/show_contract",
                :envelope,
                target: "_blank",
                remote: false,
                method: :get,
                rel: :tooltip,
                title: t('activerecord.buttons.show_contract'))
  = action_button(t('activerecord.buttons.show_passport'),
                "/groups/#{params[:group_id]}/people/#{params[:id]}/upload/show_passport",
                :envelope,
                target: "_blank",
                remote: false,
                method: :get,
                rel: :tooltip,
                title: t('activerecord.buttons.show_passport'))
  = action_button(t('activerecord.buttons.show_photo_permission'),
                "/groups/#{params[:group_id]}/people/#{params[:id]}/upload/show_photo_permission",
                :envelope,
                target: "_blank",
                remote: false,
                method: :get,
                rel: :tooltip,
                title: t('activerecord.buttons.show_photo_permission'))
  = action_button(t('activerecord.buttons.show_medical'),
                "/groups/#{params[:group_id]}/people/#{params[:id]}/upload/show_medical",
                :envelope,
                target: "_blank",
                remote: false,
                method: :get,
                rel: :tooltip,
                title: t('activerecord.buttons.show_medical'))
  %br
  = render_attrs(@person, :sepa_name, :sepa_iban)
  = raw(t("people.check_status_help.sepa"))
  %br
  = action_button(t('activerecord.buttons.show_sepa'),
                "/groups/#{params[:group_id]}/people/#{params[:id]}/upload/show_sepa",
                :envelope,
                target: "_blank",
                remote: false,
                method: :get,
                rel: :tooltip,
                title: t('activerecord.buttons.show_sepa'))
  %br
  = raw(t("people.check_status_help.external"))
  %br
  - if ul?(@person)
    = action_button(t('activerecord.buttons.show_recommendation'),
                "/groups/#{params[:group_id]}/people/#{params[:id]}/upload/show_recommendation",
                :envelope,
                target: "_blank",
                remote: false,
                method: :get,
                rel: :tooltip,
                title: t('activerecord.buttons.show_recommendation'))
  - if ul?(@person) || cmt?(@person)
    = action_button(t('activerecord.buttons.show_data_agreement'),
                "/groups/#{params[:group_id]}/people/#{params[:id]}/upload/show_data_agreement",
                :envelope,
                target: "_blank",
                remote: false,
                method: :get,
                rel: :tooltip,
                title: t('activerecord.buttons.show_data_agreement'))
  - if ul?(@person) || cmt?(@person) || ist?(@person)
    - if @person.upload_good_conduct_pdf.nil?
      %div.btn-group
        %span.btn.btn-sm.disabled(style="--bs-btn-disabled-border-color: #adb5bd;")
          %span.muted
            = raw(t("people.check_status_help.upload_good_conduct_missing"))
    - else
      = action_button(t('activerecord.buttons.show_good_conduct'),
                  "/groups/#{params[:group_id]}/people/#{params[:id]}/upload/show_good_conduct",
                  :envelope,
                  target: "_blank",
                  remote: false,
                  method: :get,
                  rel: :tooltip,
                  title: t('activerecord.buttons.show_good_conduct'))
  %br
  %br
  = action_button(t('activerecord.buttons.approve_documents'),
                "/groups/#{params[:group_id]}/people/#{params[:id]}/status/approve_documents",
                :envelope,
                remote: false,
                method: :post,
                rel: :tooltip,
                title: t('activerecord.buttons.approve_documents'))

- if @person.planned_custom_installments?
  #main.row-fluid(style="margin-top: 25px")
    %div.muted(style="margin-bottom:5px;")
      = raw(t('people.check_status_help.activate_custom_installments_help'))
    = action_button(t("activerecord.buttons.activate_planned_custom_installments"),
       :status_activate_planned_custom_installments_group_person,
       nil,
       method: :post,
       data: {confirm: "Soll der Ratenplan wirklich aktiviert werden?"},
       title: t('activerecord.buttons.activate_planned_custom_installments'))
    = action_button(t("activerecord.buttons.delete_planned_custom_installments"),
       :status_delete_planned_custom_installments_group_person,
       "trash-alt",
       method: :post,
       class: "btn-danger",
       data: {confirm: "Soll der geplante Ratenplan wirklich gelöscht werden?"},
       title: t('activerecord.buttons.delete_planned_custom_installments'))
