:javascript
  function fill_in_rdp_account_44_as_creditor() {
    $('#accounting_entry_cdtr_name').val('Ring deutscher Pfadfinder*innenverbände e.V.');
    $('#accounting_entry_cdtr_iban').val('DE13370601932001939044');
    $('#accounting_entry_cdtr_bic').val('GENODED1PAX');
    $('#accounting_entry_cdtr_address').val('Chausseestraße 128/129, 10115 Berlin');
  }

#main.row

  - pn_id = accounting_entry.direct_debit_pre_notification_id
  - unless pn_id.nil?
    %div
      Ursprung: SEPA Pre-Notification
      %a{ href: pre_notification_url(pn_id, admin: can_fin_admin?) }
        = pn_id

  - permitted_attrs_set = Set.new(permitted_attrs)
  - cancel_url = get_accounting_entry_cancel_url
  = standard_form(accounting_entry, {url: url_for(accounting_entry), method: :put}) do |f|
    = hidden_field_tag("fin_admin", can_fin_admin?)
    = hidden_field_tag("return_url", get_accounting_entry_return_url)
    = f.error_messages
    = button_toolbar(f, toolbar_class: nil) do
      = submit_button(f, ti(:"button.save"))
      - if can_fin_admin?
        = action_button(t("global.link.delete"), "#{url_for(accounting_entry)}?fin_admin=1", :"trash-alt", data: {method: :delete, confirm: I18n.t("global.confirm_delete")}, in_button_group: true)
      = cancel_link(cancel_url)

    .mt-3
    = field_set_tag do
      %div.border-top.py-2
      = input_or_render_attrs(f, :created_at, :updated_at)
      %div.border-top.py-2
      = input_or_render_attrs(f, :new_sepa_status_display)
      %div.border-top.py-2
      = input_or_render_attrs(f, :amount_eur)
      - if !f.object.pre_notified_amount_cents.nil? && (f.object.pre_notified_amount_cents != f.object.amount_cents)
        = input_or_render_attrs(f, :pre_notified_amount_eur)
      = input_or_render_attrs(f, :description)
      = input_or_render_attrs(f, :comment, help_inline: 'Nur sichtbar für Personen mit Buchhaltungs-Rechten')
      %div.border-top.py-2
      = input_or_render_attrs(f, :value_date, :debit_sequence_type, :endtoend_id)
      %div.border-top.py-2
      = input_or_render_attrs(f, :dbtr_name, :dbtr_iban, :dbtr_bic, :dbtr_address)
      = input_or_render_attrs(f, :mandate_id, :mandate_date)
      %div.border-top.py-2
      - if can_fin_admin?
        %div.row.mb-2.mt-0
          %div.offset-md-3.offset-xl-2
            %div.btn-group
              %button.btn.btn-sm.btn-primary.mt-2{ type: 'button', onclick: 'fill_in_rdp_account_44_as_creditor()' }
                = t('activerecord.attributes.accounting_entry.fill_in_rdp_account_44_as_creditor')
      = input_or_render_attrs(f, :cdtr_name, :cdtr_iban, :cdtr_bic, :cdtr_address)
      = input_or_render_attrs(f, :creditor_id)

    = form_buttons(f, cancel_url: cancel_url)
