- balance_cents = sum_entries_amount_cents(@accounting_entries)
- balance_eur_display = format_cents_de(balance_cents)
%div.my-3
  %div.fa-2x.fw-semibold
    - if balance_cents > 0
      %span= balance_eur_display
    - else
      %span= balance_eur_display
  %div.form-text Kontostand

%table.table.table-striped.table-sm.table-custom
  %tbody
    - @accounting_entries.each do |entry|
      - if can_accounting? || entry.amount_cents != 0
        - created_at = entry.created_at
        - value_date = entry.value_date || created_at.to_date
        %tr
          -# .form-text font-size 0.875em; color: #6c757d;
          -# .fa-xs font-size: 0.75em;
          -# .fa-sm font-size: 0.875em;
          %td
            %div.fw-light.fa-sm(style="color:#6c757d;")
              %span= created_at.strftime("%d.%m.%Y")
              %span.fw-lighter= created_at.strftime("%H:%M:%S")
              - if created_at.to_date != value_date
                %span= " • Valuta: " + value_date.strftime("%d.%m.%Y")
            %div.fw-semibold= entry.description
            - if can_accounting? && ! entry.comment.blank?
              %div.fst-italic= entry.comment
            %div.fw-light
              - if !entry.author.blank? && entry.author.id > 0
                = Person.find(entry.author_id).full_name
              - else
                Automatische Buchung
          %td.text-end.fw-semibold(style="white-space:nowrap;")= format_cents_de(entry.amount_cents)
          %td.pl-1
            - if can_accounting? && !entry.id.blank?
              %a{href: get_accounting_entry_path(entry)}
                %span.fa.fa-info-circle(aria-label="info" role="img")
