#main.row
  = standard_form(@new_accounting_entry, {as: :accounting_entry, url: accounting_group_person_path, method: :post }) do |f|
    = f.error_messages

    = render 'accounting_entries'

    - if can_accounting?
      = field_set_tag do
        = f.labeled_input_field :amount_eur, {placeholder: "10000,00", step: 0.01, value: @new_accounting_entry.amount_eur_display, type: "number", lang: "de-DE", autocomplete: "off"}
        = f.labeled_input_field :description, required: true
        = f.labeled_input_field :comment, help_inline: 'Nur sichtbar für Personen mit Buchhaltungs-Rechten'
        = f.labeled_input_field :value_date, help_inline: 'Nur falls abweichend vom aktuellen Datum'
        = f.labeled_input_field :end_to_end_identifier, help_inline: 'SEPA Ende-zu-Ende-Referenz'
        = f.labeled_collection_select(:new_sepa_status, Settings.sepa_status, :first, :last, {})
      = form_buttons(f, submit_label: "Buchung anlegen", cancel_url: accounting_group_person_path)


    - if @person.early_payer
      %h3.mt-3.mb-3 Kein Ratenplan - Einmalzahler
    - else
      %h3.mt-3.mb-3 Ratenplan
      %table.table.table-striped.table-sm.table-custom
        %thead
          %tr
            %th(style="text-align: right;") Zeitpunkt
            %th.text-end Betrag
            %th.text-end Soll Kontostand
        %tbody
          - get_installments_table_entries.each do |entry|
            %tr
              %td(style="text-align: right;")= entry[:date]
              %td.text-end= entry[:amount]
              %td.text-end= entry[:total]
