:javascript
  function fill_in_rdp_account_44_as_creditor() {
    $('#accounting_entry_cdtr_name').val('Ring deutscher Pfadfinder*innenverbände e.V.');
    $('#accounting_entry_cdtr_iban').val('DE13370601932001939044');
    $('#accounting_entry_cdtr_bic').val('GENODED1PAX');
    $('#accounting_entry_cdtr_address').val('Chausseestraße 128/129, 10115 Berlin');
  }

#main.row
  = standard_form(@new_accounting_entry, {as: :accounting_entry, url: accounting_group_person_path, method: :post }) do |f|
    = f.error_messages

    = render 'amount_paid_and_total_fee'
    = render 'accounting_entries', entries: @direct_debit_pre_notifications + @accounting_entries
    - if can_fin?
      = render 'new_entry', f: f

    = render 'installments'
