#main.row
  = standard_form(camt_transaction, {url: camt_transaction_path, method: :put, data: {turbo: false}}) do |f|
    = hidden_field_tag("fin_admin", can_fin_admin?)
    = hidden_field_tag("return_url", camt_transaction_return_url)
    = f.error_messages
    = form_buttons(f, cancel_url: camt_transaction_return_url)

    .mt-3
    = field_set_tag do
      %div.border-top.py-2
      -# = input_or_render_attrs(f, :camt_type)
      = input_or_render_attrs(f, :fin_account, display_link: true)
      -# = input_or_render_attrs(f, :account_servicer_reference, :credit_debit_indication)
      = input_or_render_attrs(f, :amount_eur, :amount_currency)
      = input_or_render_attrs(f, :value_date, :booking_date)
      = input_or_render_attrs(f, :description, :comment)
      -# %div.border-top.py-2
      -# = input_or_render_attrs(f, :message_identification, :message_creation_date_time)
      -# %div.border-top.py-2
      -# = input_or_render_attrs(f, :report_identification, :report_creation_date_time)
      -# = input_or_render_attrs(f, :report_electronic_sequence_number, :report_legal_sequence_number, :report_page_number)
      -# %div.border-top.py-2
      -# = input_or_render_attrs(f, :status)
      %div.border-top.py-2
      = input_or_render_attrs(f, :subject)
      = input_or_render_attrs(f, :accounting_entry_id, display_link: true, list: matching_accounting_entries)
      %div.border-top.py-2
      -# = input_or_render_attrs(f, :transaction_details_index)
      -# -#= input_or_render_attrs(f, :references)
      = input_or_render_attrs(f, :endtoend_id)
      = input_or_render_attrs(f, :mandate_id)
      -# -#= input_or_render_attrs(f, :bank_transaction_code)
      -# = input_or_render_attrs(f, :bank_transaction_code_dk)
      = input_or_render_attrs(f, :return_reason)
      = f.labeled_collection_select(:return_status, Settings.return_debit_status, :first, :last, {})
      %div.border-top.py-2
      = input_or_render_attrs(f, :status, :additional_entry_info)
      %div.border-top.py-2
      = input_or_render_attrs(f, :cdtr_name, :cdtr_iban, :cdtr_bic, :cdtr_address)
      %div.border-top.py-2
      = input_or_render_attrs(f, :dbtr_name, :dbtr_iban, :dbtr_bic, :dbtr_address)
      -# %div.border-top.py-2
      -# = input_or_render_attrs(f, :created_at, :updated_at)

    = form_buttons(f, cancel_url: camt_transaction_return_url)
