%h3.form-subtitle.mt-3= Message::Letter.model_name.human(count: 2)
= f.labeled :letter_logo do
  = f.file_field :letter_logo, type: :file, accept: Settings.application.image_upload.content_types.join(','), class: 'form-control form-control-sm w-25'

- if upload_exists?(entry, :letter_logo)
  = f.labeled :remove_letter_logo do
    = f.boolean_field :remove_letter_logo
= f.labeled(:letter_address_position) do
  - Group::ADDRESS_POSITION_VALUES.each do |value|
    = f.inline_radio_button(:letter_address_position, value, t("activerecord.attributes.group.letter_address_positions.#{value}"))
= render_extensions :mailing_lists_letter_fields, locals: { f: f }

-# For wsjrdp2027: Remove text_message_* fields
