-#  Copyright (c) 2025, 2026 German Contingent for the World Scout Jamboree 2027.
-#
-#  This file is part of hitobito_wsjrdp_2027 and licensed under the
-#  Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/smeky42/hitobito_wsjrdp_2027

#main.row
  = turbo_frame_tag_if_frame_request(target_turbo_frame) do
    = render 'accounting_entry_javascript_helpers'
    %div.new-sepa-status
      = standard_form(entry, {url: new_sepa_status_path, method: :post }) do |f|
        .mt-3
        = hidden_field_tag("fin_admin", can_fin_admin?)
        = hidden_field_tag("return_url", return_url)
        = f.error_messages
        = form_buttons(f, submit_label: "Finanzstatus ändern", cancel_url: cancel_url)
        = hidden_field_tag 'target_turbo_frame', target_turbo_frame
        = f.hidden_field :subject_id
        = f.hidden_field :description
        = f.hidden_field :amount_cents
        = f.labeled_collection_select(:new_sepa_status, Settings.sepa_status, :first, :last, {})
        = f.labeled_input_field :comment, help_inline: 'Nur sichtbar für Personen mit Buchhaltungs-Rechten'
        = form_buttons(f, submit_label: "Finanzstatus ändern", cancel_url: cancel_url)
