-#  Copyright (c) 2026 German Contingent for the World Scout Jamboree 2027.
-#
-#  This file is part of hitobito_wsjrdp_2027 and licensed under the
-#  Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/smeky42/hitobito_wsjrdp_2027

:css
  .td-like {
    font-weight: var(--bs-body-font-weight);
    background-color: var(--bs-body-bg) !important;
    --bs-table-accent-bg: transparent !important;
  }
  .p-chip {
    display: inline-block;
    vertical-align: baseline;
    padding: 1px 4px;
    margin: 1px 3px;
    border-radius: 6px;
    background-color: #e8ebf0aa;
    white-space: nowrap;
    /*overflow: hidden;*/
  }
  .tag-hoc, .tag-ehoc {
    font-weight: 300 !important;
    position: relative;
    bottom: 0.25em;
    font-size: 75%;
    padding: 0px 2px;
    border-radius: 2px;
    color: #a16a18;
    background-color: #fef5d5;
  }
  .tag-jpt {
    font-weight: 300 !important;
    position: relative;
    bottom: 0.25em;
    font-size: 75%;
    padding: 0px 2px;
    border-radius: 2px;
    color: #398bf1;
    background-color: #a2ceff;
  }
  .team-people-list + .team-people-list {
    margin-left: 10px;
  }

#main.row
  %div
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th Team
          %th Personen
          %th.right Anzahl
      %tbody
        - cmt_teams.each do |team_hash|
          = render 'group_row', label: team_hash[:label], count: team_hash[:count], people_with_labels: team_hash[:people_with_labels]
      %tbody
        %tr
          %th.td-like{colspan: 3, style: "padding-top: 15px;"}
            %strong
              Nach Rolle auf dem Jamboree
      %tbody
        = render 'group_row', label: "JPT", people_with_labels: [[nil, @wsj_role_jpt_people]]
        = render 'group_row', label: "CMT", people_with_labels: [[nil, @wsj_role_cmt_people]]
        - if @wsj_role_other_people.size > 0
          = render 'group_row', label: "andere Rolle", people_with_labels: [[nil, @wsj_role_other_people]]
        = render 'group_row', label: "Gesamt", people_with_labels: [], count: @wsj_role_jpt_people.size + @wsj_role_cmt_people.size + @wsj_role_other_people.size
