%h2= t("people.tabs.unit")

= standard_form(@person, { url: unit_group_person_path, method: :get }) do |f|
  = f.error_messages


- if @people_in_cluster.total_count > 1
  %div
    %strong
      = @people_in_cluster.total_count
    Personen (UL + YP) in Buddy-ID Cluster von
    %strong
      = @person.to_s

  -#= table(@people_in_cluster, data: { checkable: true }, class: "table table-striped table-hover") do |t|
  = table(@people_in_cluster, class: "table table-striped table-hover") do |t|
    -# - t.col(check_box_tag(:all, 0, false, { data: :multiselect })) do |i|
    -#   - check_box_tag('ids[]', i.id, false, data: { multiselect: true })
    - t.col("Rolle") do |p|
      %span.muted
        = short_wsj_role(p)
    -# - t.col('') do |p|
    -#   .profil= image_tag(upload_url(p, :picture, variant: :thumb, default: :profil), size: '32x32')
    - t.col("Person") do |p|
      %strong
        -# Any person listed can be shown
        = link_to(p.to_s(:list), group_person_path(p.primary_group_id, p))
    - t.col("G") do |p|
      = p.gender
    - t.col("Unit-code") do |p|
      = p.unit_code_display
    - t.col("Cluster-code") do |p|
      = p.cluster_code_display
    - t.col("Status") do |p|
      = p.status
      -#= Settings.status[p.status]
    - t.col("Verband") do |p|
      = p.rdp_association
    - t.col("Land") do |p|
      = p.rdp_association_region
    - t.col("Bezirk") do |p|
      = p.rdp_association_sub_region
    - t.col("Stamm") do |p|
      = p.rdp_association_group
    - t.col("Eigene Buddy-ID") do |p|
      = "#{p.buddy_id}-#{p.id}"
    - t.col("UL Buddy-ID") do |p|
      = p.buddy_id_ul
    - t.col("YP Buddy-ID") do |p|
      = p.buddy_id_yp

  %h3 Cluster-code
  - if @common_ul_unit_code
    %p
      Gemeinsamer Unit-code alles ULs in diesem Cluster:
      = make_unit_code_display(@common_ul_unit_code)
      %span
      = action_button("Für alle Personen Cluster-code auf #{@common_ul_unit_code} setzen",
          "#{unit_group_person_path}/fill_cluster_code",
          :copy, remote: false, method: :post)
      = action_button("Für alle Personen Cluster-code löschen",
          "#{unit_group_person_path}/clear_cluster_code",
          :trash, remote: false, method: :post)
  - else
    %p
      Hinweis: Es gibt keinen gemeinsamen Unit-code der ULs in diesem Cluster

- else
  %div
    %strong
      = @person.to_s
    ist nicht Teil eines Buddy-ID Clusters
