:css
  .thead-like {
    background-color: var(--bs-body-bg) !important;
    --bs-table-accent-bg: transparent !important;
  }

= standard_form(@person, { url: unit_group_person_path, method: :get }) do |f|
  = f.error_messages



- if @people_in_cluster.size > 1
  %div(style="padding-left: 20px;")
    - gender_list = ["w", "m", "d"]
    - status_list = ["registered", "printed", "upload", "in_review", "reviewed", "confirmed"]
    %table.table.table-hover
      %thead
        %tr
          %th Rolle
          %th.right ∑
          - gender_list.each do |g|
            %th.right= t("activerecord.attributes.person.genders.#{g}")
          - status_list.each do |s|
            %th.right= Settings.status[s]
      %tbody
        - [[:UL, @ul_in_cluster], [:YP, @yp_in_cluster], ["Alle (UL und YP)", @people_in_cluster]].each do |role_and_people|
          - role, people_in_role = role_and_people
          %tr
            %td= role
            %td.right(width="9%")= people_in_role.size
            - gender_list.each do |gender|
              %td.right(width="9%")= people_in_role.count { |p| p.gender == gender }
            - status_list.each do |status|
              %td.right(width="9%")= people_in_role.count { |p| p.status == status }

  = render 'list', title_people_list: [[nil, @people_in_cluster, render('cluster_actions')],
      ["ULs und YPs nicht im Buddy-ID Cluster, aber aus Stämmen im Cluster", @ulyp_not_in_cluster],
      ["CMTs aus Stämmen im Cluster", @cmt_not_in_cluster],
      ["ISTs aus Stämmen im Cluster", @ist_not_in_cluster] ]

- else
  %p
    %strong
      = @person.to_s
    ist nicht Teil eines Buddy-ID Clusters
  %dl.container.dl-horizontal
    %div.labeled-grid
      %dt.muted Buddy-ID
      %dd= "#{@person.buddy_id}-#{@person.id}"
    %div.labeled-grid
      %dt.muted Unit-code
      - if @person.unit_code_display
        %dd= @person.unit_code_with_search_link_display
      - else
        %dd.muted Nicht gesetzt
    %div.labeled-grid
      %dt.muted Cluster-code
      - if @person.cluster_code_display
        %dd= @person.cluster_code_display
      - else
        %dd.muted Nicht gesetzt

  -# title_people_list = [["ULs und YPs aus dem gleichen Stamm", @ulyp_not_in_cluster], ["CMTs aus dem gleichen Stamm", @cmt_not_in_cluster], ["ISTs aus dem gleichen Stamm", @ist_not_in_cluster] ]
  = render 'list', title_people_list: [["ULs und YPs aus dem gleichen Stamm", @ulyp_not_in_cluster],
       ["CMTs aus dem gleichen Stamm", @cmt_not_in_cluster],
       ["ISTs aus dem gleichen Stamm", @ist_not_in_cluster] ]
